{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Paws at Home{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    {% load static %}
    {% tailwind_css %}
</head>

<body class="bg-gray-100 text-gray-900">

    <!-- Navbar -->
    <nav class="bg-white shadow p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="{% url 'home' %}" class="flex items-center space-x-2">
                <img src="{% static 'images/logo_512.png' %}" alt="Paws at Home" class="h-10 w-auto">
                <span class="text-2xl font-bold text-medium-green hover:text-gray-950">Paws at Home</span>
            </a>
            <div class="space-x-4">
                <a href="{% url 'home' %}" class="hover:text-green-500">Inicio</a>
                <a href="{% url 'about' %}" class="hover:text-green-500">Nosotros</a>
                <a href="{% url 'sitters' %}" class="hover:text-green-500">Cuidadores</a>
                <a href="{% url 'pets' %}" class="hover:text-green-500">Mascotas</a>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <main class="container mx-auto py-8">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-gray-800 text-white text-center py-4">
        <p>&copy; 2025 Paws at Home. Todos los derechos reservados.</p>
    </footer>

    <script>
        let index = 0;
        const images = document.querySelectorAll(".carousel img");
        const dotContainer = document.getElementById("carousel-dots");

        // Create dots
        images.forEach((_, i) => {
            const dot = document.createElement("button");
            dot.className = "w-3 h-3 rounded-full bg-gray-300";
            if (i === 0) dot.classList.add("bg-medium-green");
            dot.addEventListener("click", () => showImageAt(i));
            dotContainer.appendChild(dot);
        });

        const dots = dotContainer.querySelectorAll("button");

        function showImageAt(i) {
            images[index].classList.add("hidden");
            dots[index].classList.replace("bg-medium-green", "bg-gray-300");

            index = i;

            images[index].classList.remove("hidden");
            dots[index].classList.replace("bg-gray-300", "bg-medium-green");
        }

        function showNextImage() {
            const nextIndex = (index + 1) % images.length;
            showImageAt(nextIndex);
        }

        setInterval(showNextImage, 7000);

        document.querySelector(".carousel").addEventListener("click", showNextImage);
    </script>
</body>

</html>