{% extends "base/base.html" %}
{% block title %}
Avatar
{% endblock title %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data" class="max-w-md mx-auto p-4 bg-white shadow-md rounded">
    {% csrf_token %}
    <div class="mb-4">
        {{ form.as_table }}
    </div>
    <div class="text-center">
        <input type="submit" value="Actualizar Avatar"
            class="w-full bg-medium-green hover:bg-dark-green text-white font-semibold py-2 px-4 rounded-md">
    </div>
</form>

{% endblock content %}